
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :dashboards} %>
<%= render 'partials/sidebar-sm', locals: {category: :dashboards} %>
<%= render 'partials/topnav', locals: {category: :dashboards} %>
<div class="main-content">

      <%= render 'partials/topbar' %>
      
    </div>
