
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages, subcategory: :project} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages, subcategory: :project} %>
<%= render 'partials/topnav', locals: {category: :pages, subcategory: :project} %>
<div class="main-content">

      <%= render 'partials/topbar' %>

      <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg">
                  <img src="<%= asset_pack_path 'media/images/avatars/profiles/avatar-1.jpg' %>" alt="..." class="avatar-img rounded-circle" >
                </div>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  For you
                </h6>

                <!-- Title -->
                <h2 class="header-title">
                  Your experience, curated
                </h2>

              </div>
              
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">
                
                <!-- Nav -->
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="for_you.html" class="nav-link" style="display: none;">
                      Perks
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="for_you_rewards.html" class="nav-link active">
                      Rewards
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="for_you_recognition.html" class="nav-link">
                      Recognition <span class="badge badge-soft-primary">1 new</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="for_you_awards.html" class="nav-link">
                      Awards
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card card-inactive">
              <div class="card-body text-center">

                <!-- Image -->
                <img src="/packs/media/images/illustrations/reward-3e150442a3b39510d832ffc4212af9ae.svg" alt="..." class="img-fluid mb-4 mt-1" style="max-width: 182px;">
                
                <!-- Title -->
                <h2>
                  You don't currently have any rewards
                </h2>

                <!-- Subtitle -->

                <p class="text-muted">
                  Want to know how to receive a reward at {Company Name}?
                </p>

                <!-- Button -->
                <a href="#!" class="btn btn-primary">
                  Find out more
                </a>

              </div>
            </div>
            
          </div>
        </div>
      </div>

      
      
       

        
