
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages} %>
<%= render 'partials/topnav', locals: {category: :pages} %>
<div class="main-content">

<%= render 'partials/topbar' %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-12">
      
      <!-- Header -->
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <a href="#!" class="avatar avatar-lg">
                    <span class="avatar-title rounded bg-white text-secondary">
                      <span class="fe fe-award"></span>
                    </span>
                  </a>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Wallet
                </h6>

                <!-- Title -->
                <h2 class="header-title">
                  Reward
                </h2>

              </div>
              
            </div>
          <div class="row align-items-center">
            <div class="col">
              
              <!-- Nav -->
              

            </div>
          </div>
        </div>
      </div>

      <!-- Form -->

      <div class="row mt-4">
          <div class="col-12 col-xl-12">
            
            <div class="card card-inactive">
              <div class="card-body text-center">

                <!-- Image -->
                <img src="/packs/media/images/illustrations/reward-3e150442a3b39510d832ffc4212af9ae.svg" alt="..." class="img-fluid mb-4 mt-1" style="max-width: 182px;">
                
                <!-- Title -->
                <h2>
                  You don't currently have any rewards
                </h2>

                <!-- Subtitle -->

                <p class="text-muted">
                  Want to know how to receive a reward at {Company Name}?
                </p>

                <!-- Button -->
                <a href="#!" class="btn btn-primary">
                  Find out more
                </a>

              </div>
            </div>
          </div>

            


            

          </div>
        </div>
      

    </div>
  </div> <!-- / .row -->

</div>

</div>
