
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages} %>
<%= render 'partials/topnav', locals: {category: :pages} %>
<div class="main-content">

<%= render 'partials/topbar' %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-12">
      
      <!-- Header -->
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              
             
            

            </div>
          </div> <!-- / .row -->
          
        <div class="row mt-4">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Title -->
                    <h4 class="card-header-title">
                      Your purchases & redemptions
                    </h4>

                  </div>
                  <div class="col-auto">

                    <div class="dropdown">

                      <!-- Toggle -->
                      <a href="#" class="small text-muted dropdown-toggle" data-toggle="dropdown">
                        Most recent
                      </a>

                      <!-- Menu -->
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item sort" data-sort="name" href="#!">
                          Recently added
                        </a>
                        <a class="dropdown-item sort" data-sort="name" href="#!">
                          A - Z
                        </a>
                        <a class="dropdown-item sort" data-sort="name" href="#!">
                          Z - A
                        </a>
                      </div>

                    </div>
                    
                  </div>
                </div> <!-- / .row -->
              </div>

              <div class="card-header">
                <div class="row">
                  <div class="col-12">
                    
                    <!-- Form -->
                    <form>
                      <div class="input-group input-group-flush input-group-merge">
                        <input type="search" class="form-control form-control-prepended search" placeholder="Search">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <span class="fe fe-search"></span>
                          </div>
                        </div>
                      </div>
                    </form>

                  </div>
                </div> <!-- / .row -->
              </div>

              <div class="card-body">

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar avatar-4by3">
                      <img src="https://dummyimage.com/600x400/cccccc/fff.png" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Brand name</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Key informartion
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <button type="button" class="btn btn-white btn-sm">
                      Key action
                    </button>
                    
                  </div>
                </div> <!-- / .row -->

                <!-- Divider -->

                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar avatar-4by3">
                      <img src="https://dummyimage.com/600x400/cccccc/fff.png" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Brand name</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Key informartion
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <button type="button" class="btn btn-white btn-sm">
                      Key action
                    </button>
                    
                  </div>
                </div> <!-- / .row -->

                <!-- Divider -->

                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar avatar-4by3">
                      <img src="https://dummyimage.com/600x400/cccccc/fff.png" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Brand name</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Key informartion
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <button type="button" class="btn btn-white btn-sm">
                      Key action
                    </button>
                    
                  </div>
                </div> <!-- / .row -->
                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar avatar-4by3">
                      <img src="https://dummyimage.com/600x400/cccccc/fff.png" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Brand name</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Key informartion
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <button type="button" class="btn btn-white btn-sm">
                      Key action
                    </button>
                    
                  </div>
                </div> <!-- / .row -->

                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar avatar-4by3">
                      <img src="https://dummyimage.com/600x400/cccccc/fff.png" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Brand name</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Key informartion
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <button type="button" class="btn btn-white btn-sm">
                      Key action
                    </button>
                    
                  </div>
                </div> <!-- / .row -->

                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar avatar-4by3">
                      <img src="https://dummyimage.com/600x400/cccccc/fff.png" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Brand name</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Key informartion
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <button type="button" class="btn btn-white btn-sm">
                      Key action
                    </button>
                    
                  </div>
                </div> <!-- / .row -->

                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar avatar-4by3">
                      <img src="https://dummyimage.com/600x400/cccccc/fff.png" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Brand name</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Key informartion
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <button type="button" class="btn btn-white btn-sm">
                      Key action
                    </button>
                    
                  </div>
                </div> <!-- / .row -->

                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar avatar-4by3">
                      <img src="https://dummyimage.com/600x400/cccccc/fff.png" alt="..." class="avatar-img rounded">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Brand name</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Key informartion
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <button type="button" class="btn btn-white btn-sm">
                      Key action
                    </button>
                    
                  </div>
                </div> <!-- / .row -->

              </div> <!-- / .card-body -->
            </div>
          </div>
          <div class="col-xl-4 col-md-12 col-sm-12" style="display:none;">

            <div class="card">
                <div class="card-body text-center">
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-xl-12 col-sm-12">
                  
                      <!-- Image -->
                      <img src="/packs/media/images/illustrations/save-e1bbd4bab286c6392dfd06ebabdcafc7.svg" alt="..." class="img-fluid mt-n5 mb-4" style="max-width: 172px;">

                      <!-- Title -->
                      <h2 class="card-header-title mb-2">
                        Save money
                      </h2>

                      <!-- Content -->
                      <p class="text-muted">
                        Access hundreds of instant discount codes across our carefully selected retailers
                      </p>

                      <!-- Button -->
                      <a href="#!" class="btn btn-primary lift">
                        Explore
                      </a>
                    
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>

              <div class="card">
                <div class="card-body text-center">
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-xl-12 col-sm-12">
                  
                      <!-- Image -->
                      <img src="/packs/media/images/illustrations/earn-8fe8b2ea80671c8e2da6731323365d8b.svg" alt="..." class="img-fluid mt-n5 mb-4" style="max-width: 172px;">

                      <!-- Title -->
                      <h2 class="mb-2">
                        Earn money back <span class="badge badge-soft-primary">Beta</span>
                      </h2>

                      <!-- Content -->
                      <p class="text-muted">
                        Link your card and earn money back when you spend locally or online
                      </p>

                      <!-- Button -->
                      <a href="#!" class="btn btn-primary lift">
                        Explore
                      </a>
                    
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>


            </div>

            

      
       

        

    <script src="/packs/js/application-0f5494508ed28de5e9bd.js"></script>

  

</div></div>

      </form>

    </div>
  </div> <!-- / .row -->
</div>

</div>
