
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages} %>
<%= render 'partials/topnav', locals: {category: :pages} %>
<div class="main-content">

<%= render 'partials/topbar' %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-12">
      
      <!-- Header -->
      <div class="header">
        <div class="header-body">
          <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <a href="#!" class="avatar avatar-lg">
                    <span class="avatar-title rounded bg-white text-secondary">
                      <span class="fe fe-gift"></span>
                    </span>
                  </a>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  <a href="yourwalletadmin.html"><span class="fe fe-chevron-left"></span></a> Team Wallet
                </h6>

                <!-- Title -->
                <h2 class="header-title">
                  Perks <span class="badge badge-soft-primary ml-4">£500.00</span>
                </h2>

              </div>
              
            </div>
          <div class="row align-items-center">
            <div class="col">
              
              

            </div>
          </div>
        </div>
      </div>

      <!-- Form -->

      <div class="row mt-4">
          <div class="col-12 col-xl-8">
            
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Title -->
                    <h4 class="card-header-title">
                      Total balance £500.00
                    </h4>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Button -->
                    <a href="#!" class="btn btn-sm btn-white">
                      Download report
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="card-body">

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <a href="#!" class="avatar avatar-lg">
                      <span class="avatar-title rounded bg-white text-secondary">
                        <span class="fe fe-arrow-down-circle" style="color:#E63757;"></span>
                      </span>
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Example transaction out</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      <time datetime="2018-05-24">-£X.00 on 19/1/20</time>
                    </p>
                    
                  </div>
                  
                </div> <!-- / .row -->

                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <a href="#!" class="avatar avatar-lg">
                      <span class="avatar-title rounded bg-white text-secondary">
                        <span class="fe fe-arrow-up-circle" style="color:#00D97E;"></span>
                      </span>
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Example transaction in</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      <time datetime="2018-05-24">+£X.00 on X/1/20</time>
                    </p>
                    
                  </div>
                  
                </div> <!-- / .row -->

                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <a href="#!" class="avatar avatar-lg">
                      <span class="avatar-title rounded bg-white text-secondary">
                        <span class="fe fe-arrow-up-circle text-muted"></span>
                      </span>
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Example pending transaction</a>
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      <time datetime="2018-05-24">+£X.00 on X/1/20</time>
                    </p>
                    
                  </div>
                  
                </div> <!-- / .row -->

              </div> <!-- / .card-body -->
            </div>
          </div>

            <div class="col-12 col-xl-4">

              <a href="#!" class="btn btn-primary btn-block mb-4">
                  Request more credit
                </a>
              
              <div class="card">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-12 col-lg-4 order-lg-2">
                      
                          <!-- Image -->
                          <div class="text-center">
                            <img src="<%= asset_pack_path 'media/images/illustrations/shop.svg' %>" alt="..." class="img-fluid mt-n5 mt-lg-0 mb-4 mr-md-n5" style="max-width: 72px;">
                          </div>

                        </div>
                        <div class="col-12 col-lg-8 px-4 py-3 order-lg-1">
                          
                          <!-- Title -->
                          <h2>
                            Spend your perks balance
                          </h2>

                          <!-- Content -->
                          <p class="text-muted">
                            Either send credit to your team, or pick and choose gift cards or employee add-ons for them from our marketplace
                          </p>

                          <!-- Button -->
                          <a href="/marketplace.html" class="btn btn-primary">
                            Explore marketplace
                          </a>

                        </div>
                      </div> <!-- / .row -->
                    </div>
                  </div>

                   


            

          </div>
        </div>
      

    </div>
  </div> <!-- / .row -->

</div>

</div>
