<!DOCTYPE html>
<html>
  <head>
    <title>Perkbox - Team Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%=render 'partials/head' %>
  </head>

  <body class="<%= yield :body_class %>">
    <%= yield %>
    <%= render 'partials/scripts' %>
  </body>
</html>
